[Unit]
Description=Raspberry PI Info Display systemd demon

[Service]
WorkingDirectory=/usr/local/bin/rpidisplay
ExecStart=/usr/local/bin/rpidisplay/rpidisplay
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=rpidisplay

[Install]
WantedBy=multi-user.target